__pycache__
*.egg-info
dickens/
!dickens/inbox/book.txt
!dickens/inbox/2410.05779v2-LightRAG.pdf
lib/
book.txt
lightrag-dev/
.idea/
dist/
env/
local_neo4jWorkDir/
neo4jWorkDir/
ignore_this.txt
.venv/
